body {
	background-color: #FF69B4;
}

h1,h4 {
	color:;
}

.jumbotron {
	color:;
	text-align: center;
}


/*change color of button*/
.btn  {
	background-color:#FFC0CB;
	
}

/*change font/color of input area*/
.form-group {
	font-weight: bold;
	color:;
}
